$main-dark: #121212;
$card-dark: #292929;
$input-dark: #4d4d57;
$main-light: #3164ff;
$card-light: #fff;
$input-light: $card-light;
* {
  font-family: "roboto", sans-serif;
  transition: all 0.3s linear;
}
::selection {
  background: yellow;
  color: #3164ff;
}
body {
  background: $main-dark;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-align: center;
  }
  .card {
    position: relative;
    background: $card-dark;
    padding: 20px;
    border-radius: 11px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    .darkmode-icon {
      position: absolute;
      top: 10px;
      right: 15px;
      color: rgb(255, 174, 0);
      cursor: pointer;
    }
    .part {
      padding: 10px;
      p {
        font-size: 25px;
        margin-block: 0 10px;
      }
      input {
        background: $input-dark;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 30px;
        border: none;
        outline: none;
        color: #fff;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      animation: move 15s infinite ease-in-out;
      span {
        color: #ff4362;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a {
        text-decoration: underline;
        color: #e6bf14;
        margin-left: 4px;
        -webkit-text-underline-position: under;
        -ms-text-underline-position: below;
        text-underline-position: under;
      }
      @keyframes move {
        0% {
          transform: translateX(168%);
        }
        50% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-168%);
        }
      }
      body .card .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        animation: move 5s infinite;
      }
      body .card {
        position: relative;
        background: #292929;
        padding: 20px;
        border-radius: 11px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
      }
      ::selection {
        background: yellow;
        color: #3164ff;
      }
    }
  }
  &.light-mode {
    background: $main-light;
  }
  .card.light-mode {
    background: $card-light;
    color: #000;
    .darkmode-icon {
      transform: rotate(257deg);
      color: #121212;
    }
    input {
      background: $input-light;
      border: 1px solid #c2c1c1;
      color: #000;
      &:focus {
        border: 1px solid $main-light;
      }
    }
  }
  .error-msg {
    text-align: center;
    margin-top: 1.25em;
    color: #ff4362;
  }
  .light-mode-p {
    color: #f9ff00;
  }
}
@media screen and (max-width: 460px) {
  body {
    h1 {
      font-size: 25px;
    }
    .card {
      padding-bottom: 10px;
      .part {
        padding: 5px;
        input {
          font-size: 20px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }
}
