* {
  font-family: "roboto", sans-serif;
  transition: all 0.3s linear;
}

::-moz-selection {
  background: yellow;
  color: #3164ff;
}

::selection {
  background: yellow;
  color: #3164ff;
}

body {
  background: #121212;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body h1 {
  color: #fff;
  text-align: center;
}
body .card {
  position: relative;
  background: #292929;
  padding: 20px;
  border-radius: 11px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
body .card .darkmode-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(255, 174, 0);
  cursor: pointer;
}
body .card .part {
  padding: 10px;
}
body .card .part p {
  font-size: 25px;
  margin-block: 0 10px;
}
body .card .part input {
  background: #4d4d57;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 30px;
  border: none;
  outline: none;
  color: #fff;
}
body .card .part input::-webkit-outer-spin-button, body .card .part input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .card .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: move 15s infinite ease-in-out;
}
body .card .footer span {
  color: #ff4362;
}
body .card .footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .card .footer a {
  text-decoration: underline;
  color: #e6bf14;
  margin-left: 4px;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}
@keyframes move {
  0% {
    transform: translateX(168%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-168%);
  }
}
body .card .footer body .card .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: move 5s infinite;
}
body .card .footer body .card {
  position: relative;
  background: #292929;
  padding: 20px;
  border-radius: 11px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
body .card .footer ::-moz-selection {
  background: yellow;
  color: #3164ff;
}
body .card .footer ::selection {
  background: yellow;
  color: #3164ff;
}
body.light-mode {
  background: #3164ff;
}
body .card.light-mode {
  background: #fff;
  color: #000;
}
body .card.light-mode .darkmode-icon {
  transform: rotate(257deg);
  color: #121212;
}
body .card.light-mode input {
  background: #fff;
  border: 1px solid #c2c1c1;
  color: #000;
}
body .card.light-mode input:focus {
  border: 1px solid #3164ff;
}
body .error-msg {
  text-align: center;
  margin-top: 1.25em;
  color: #ff4362;
}
body .light-mode-p {
  color: #f9ff00;
}

@media screen and (max-width: 460px) {
  body h1 {
    font-size: 25px;
  }
  body .card {
    padding-bottom: 10px;
  }
  body .card .part {
    padding: 5px;
  }
  body .card .part input {
    font-size: 20px;
  }
  body .card .part p {
    font-size: 17px;
  }
}/*# sourceMappingURL=style.css.map */